.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputWrapper{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}

.inputWrapper input{
    padding: 8px;
    border: 2px solid gold;
    border-radius: 5px;
    width: 400px;
}
.file{
    display: none;
}

.btn{
    color: white;
    background-color: green;
    border: none;
    padding: 8px 15px;
}