
.global{
    padding-top: 5px;
    margin-bottom: 50px;
    width: 100%;
    background-color: white ;
    height: 92px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    padding-left: 10px;
    padding-bottom: 15px;
}
.description{
    color: black;
    font-size: 14px;
    /* line-height: 0.1; */
    width: 330px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.button{
    background-color: red;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    margin-left: 170px;
    /* position: absolute ;
    right: 40px; */
}
.body h4{
    margin: 0;
}
.delete{
    height: 30px;
    background-color: white;
}