.body a{
    text-decoration: none;
    color: black;
    padding-left: 30px;
}

.body{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    background-color: orangered;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}
.global a:hover{
    color: rgb(255, 105, 0);
}