img {
    width: 200px;
}
.main{
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 30px;
}
.desc{
    color: grey;
}
.btn{
    /* background-color: rgb(255, 240, 230) ; */
    background-color: palegoldenrod ;
    color: rgb(209, 87, 0);
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
}
/* .element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.btn:hover{
    background-color: palevioletred;
}
.priceBtn{
    display: flex;
    justify-content: space-around;
}

