/* .global{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.pizzaWrapper{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em;
    
}

.waterText{
    margin: 0 auto;
    color: rgb(161, 161, 161);
    opacity: 0.5s;
}

